{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": "off",
    "indent": ["error", 4],
    "class-methods-use-this": "off",
    "no-unused-vars": "warn",
    "operator-linebreak": "off",
    "semi": ["error", "never"]
  },
  "extends": ["airbnb","eslint:recommended"]
}
